html, body {
  margin: 20px;
  font-weight: 400px;
  font-family: 'Lato', sans-serif;
}
#wrap {
  width: 900px;
  margin: 0 auto;
}
.left_col {
  float: left;
  margin: 20px;
  width: 20%;
}
.center_col {
  display: inline-block;
  margin: 20px;
  width: 40%;
}
.right_col {
  float: right;
  margin: 20px;
  width: 40%;
}
#player_name {
  font-size: 20px;
  font-weight: 400px;
}
.player_image {
  width: 184px;
  height: 154px;
  border-style: solid;
  border-width: thin;
}
